.chart{
    max-width: 500pt;
    height: 50%;
    text-align: center;
    margin: auto;
    background-color: rgb(211, 211, 211);
    border-radius: 5pt;
    padding: 3pt;
    margin-top: 10pt;
    padding-bottom: 10pt;
    box-shadow: 1px 1px #888888AA;
}

@media only screen and (max-width: 500px)
{
    .chart{
        margin-left: 6pt;
        margin-bottom: 10pt;
    }
}