.App {
  text-align: center;
  height: 100vh;
}

h2{
  margin-top: 0;
  margin-bottom: 0pt;
  padding:20pt;
  padding-bottom: 10pt;
}

.switchBtn{
  background-color: rgb(75, 75, 75);
  padding: 5pt;
  border: none;
  border-radius: 3pt;
  outline: none;
  font-size: large;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px #888888AA;
}