.App {
  text-align: center;
  height: 100vh;
}

h2{
  margin-top: 0;
  margin-bottom: 0pt;
  padding:10pt;
}

.switchBtn{
  background-color: rgb(75, 75, 75);
  padding: 5pt;
  border: none;
  border-radius: 3pt;
  outline: none;
  font-size: large;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px #888888AA;
}

.credits{
  margin-top: 5pt;
  color: rgb(66, 66, 66);
  font-weight: bold;
}

a{
  text-decoration: none;
}

a:hover{
  color: rgb(173, 173, 173);
}